
body {
  background-color: $white; }

header {
  background-color: $white; }

.hero-bg {
  background-image: url(./assets/UMAX-Rally-2x2-_-0R4A6634.jpg);
  background-color: $white;
  background-position: right -75px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}

.gradient {
  -o-object-fit: contain;
     object-fit: contain;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(247, 247, 247, 0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to top, rgba(247, 247, 247, 0), rgba(0, 0, 0, 0.7));
  background-size: cover; }

header img {
  padding-top: 27px; }

.content-container {
  width: 100%;
  padding: 0px 7.4%;
  margin: 0 auto; }

.gradient .flex {
  margin-top: 70px; }

header .flex {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

header .flex h1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.formP {
  margin-top: 10px; }

.form-wrapper {
  width: 100%;
  max-width: 504px;
  margin-top: 144px;
  background-color: $black;
  color: $white;
  padding: 65px 60px; }

.input-wrapper {
  display: block;
  width: 100%;
  margin-top: 20px;
  text-align: center; }

.input-wrapper:first-of-type {
  margin-top: 28px; }

.input-wrapper:last-of-type {
  margin-top: 45px; }

label, input.input, select {
  display: block;
  width: 100%;
  border: 0px;
  outline: 0px; }

label {
  display: none; }

input.input, select {
  padding: 10px; }

h1 {
  margin-left: 180px; }

.select {
  position: relative; }

.select:after {
  content: "\f107";
  font-family: 'Font Awesome 5 Pro';
  font-weight: bold;
  font-size: 20px;
  color: $black;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  text-align: center;
  padding: 13px 30px;
  width: 20px;
  height: 100%;
  pointer-events: none; }

header .button {
  margin-top: 45px; }

h2 {
  margin-top: 80px; }

p.main {
  margin: 25px 7.4% 0 7.4%; }

main .flex {
  margin-top: 150px;
  margin-left: -30px;
  margin-right: -30px; }

article {
  text-align: center;
  margin: 0 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  position: relative; }

h3 {
  margin-top: 30px; }

p.article {
  margin-top: 15px;
  padding-bottom: 90px; }

.button-wrap {
  display: none; }

main .button {
  margin-top: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.footer-wrapper {
  background-color: $black;
  padding: 100px 0 100px;
  margin-top: 200px; }

footer .flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

footer .flex > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

footer .flex nav {
  max-width: 236px; }

.address {
  margin-left: 5.2%; }

footer .copyright {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end; }

.copyright a {
  color: $white;
  text-decoration: none; }

.copyright a:hover {
  cursor: pointer; }

#fd nav > .content-container {
  /* background-color: $black; */
}

#fd header img {
  padding-bottom: 27px; }

#fd .hero-bg, #fd-thank-you .hero-bg {
  background-image: url(./assets/PTV---0R4A6512.jpg);
  background-position: center -4.4rem;
}

#fd h1, #fd-thank-you h1 {
  margin-top: 75px;
  margin-left: 0px;
  text-align: center; }

#fd .flex-column, #fd-thank-you .flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 770px; }

#fd .form-wrapper, #fd-thank-you .form-wrapper {
  padding: 33px 50px;
  margin-top: 0px;
  max-width: none;
  width: 100%; }

#fd header .flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

#fd header .flex > * {
  margin-right: 30px; }

#fd .input-wrapper {
  margin-top: 0px; }

#fd .form-wrapper input {
  margin-top: 28px; }

#fd .input-wrapper:last-of-type {
  margin-top: 0px;
  margin-right: 0px; }

#fd .form-text-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

#fd .input-wrapper.name, #fd .input-wrapper.email {
  max-width: 320px; }

#fd .input-wrapper.zip {
  max-width: 160px; }

#fd .input-wrapper.submit-button {
  max-width: 133px; }

#fd .submit {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }

#thank-you .hero-bg {
  background-position: right calc(100% - 40px); }

#gcm .hero-bg {
  background-image: url(./assets/PTV---4U3A0736-1.jpg);
}

@media screen and (max-width: 1920px) {
  header br.hide {
    display: none; } }

@media screen and (max-width: 1440px) {
  h1 {
    font-size: 90px;
    margin-left: 100px; }
  article {
    margin: 0 1.5%; }
  h3 {
    font-size: 30px; }
  .button-wrap {
    display: block; }
  .button {
    line-height: 1.25; }
  #copyright-separator1 {
    display: block;
    width: 0px;
    height: 0px;
    color: $black; }
  #fd header .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  #fd .input-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    overflow: hidden; }
  #fd .form-text-wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px; }
  #fd .hero-bg {
    background-position: -10rem -5rem; } 
    
  #rd .hero-bg, #rd-thank-you .hero-bg {
    background-position: -14rem -5rem;
  }

  #gcm .hero-bg, #gcm-thank-you .hero-bg {
    background-position: -10rem -75px;
  }
}

@media screen and (max-width: 1200px) {
  .content-container {
    padding: 0 5%; }
  h1 {
    font-size: 80px;
    margin-left: 80px; }
  .address {
    font-size: 16px; }
  .footer-wrapper {
    margin-top: 100px; }
  #thank-you .hero-bg {
    background-position: right -30px; } }

@media screen and (max-width: 1024px) {
  .content-container {
    padding: 0 80px; }
  header .flex {
    display: block; }
  h1 {
    margin-left: 0px; }
  p.main {
    font-size: 26px; }
  .form-wrapper {
    margin: 60px auto auto 0; }
  header br.hide {
    display: none; }
  main .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 80px; }
  main .flex > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 60px);
            flex: 0 0 calc(50% - 60px);
    margin: 0 30px 60px 30px; }
  footer .flex {
    display: block; }
  .address {
    margin-left: 0;
    margin-top: 30px; }
  footer .copyright {
    text-align: left;
    margin-top: 15px; }
  #fd .form-wrapper {
    margin: inherit; }
  #fd .input-wrapper {
    max-width: none !important;
    margin-top: 20px; }
  #fd .input-wrapper:last-of-type {
    margin-top: 20px;
    width: auto;
    text-align: left; }
  #fd .submit {
    width: auto;
    padding-left: 40px;
    padding-right: 40px; }
  #fd .flex-column {
    min-height: 780px; } }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 60px;
    margin-right: 15%; }
  h2 {
    font-size: 45px; }
  p.main {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 20px; }
  .content-container {
    padding: 0 40px; }
  main .flex {
    display: block; }
  main article {
    display: block;
    width: 100%;
    margin: 0 auto 40px auto; }
  p.article {
    padding-bottom: 0px; }
  .button-wrap {
    display: none; }
  .button, main .button {
    position: initial; } }

@media screen and (max-width: 480px) {
  nav img {
    width: 40%;
    min-width: 130px; }
  header .flex {
    margin-top: 40px; }
  h1 {
    font-size: 45px;
    margin-right: 0px; }
  h4 {
    font-size: 30px; }
  .content-container {
    padding: 0 30px; }
  .form-wrapper {
    margin-top: 30px;
    padding: 50px 40px; }
  p.main, p.article {
    font-size: 16px; }
  #copyright-separator2 {
    display: block;
    width: 0px;
    height: 0px;
    color: $black; }
  .button {
    font-size: 16px; } }

@media screen and (max-width: 320px) {
  .content-container {
    padding: 0 15px; } }