<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K25TFV');</script>
  <!-- End Google Tag Manager -->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="com.silverpop.brandeddomains" content="www.pages05.net,www.yamahagolfcar.com,yamahagolfcar.com" />
  <link rel="stylesheet" href="styles.css">
  
  <link rel="shortcut icon" type="image/x-icon" href="./assets/favicon-32x32.png" sizes="32x32"   >
  <link rel="shortcut icon" type="image/x-icon" href="./assets/favicon-96x96.png" sizes="96x96"   >
  <link rel="shortcut icon" type="image/x-icon" href="./assets/favicon-16x16.png" sizes="16x16"   >

  <title>{%block title %}{% endblock %}</title>
  <!-- icons -->
  <script src="https://kit.fontawesome.com/cb0f2bbd07.js" crossorigin="anonymous"></script>
  <style>
    @import url('https://use.typekit.net/dqk4wef.css');
  </style>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M68YQHJ7N1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M68YQHJ7N1');
  </script>
</head>

<body id="{%block pageID %}{% endblock %}">
  {% block main %}


  {% endblock %}
  {% include "footer.njk" %}
  <!-- <script src="bundle.js"></script> -->
  <script src="https://www.sc.pages05.net/lp/static/js/iMAWebCookie.js?30e8b6ac-169c0d9b41a-c6f842ded9e6d11c5ffebd715e129037&h=www.pages05.net" type="text/javascript"></script>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K25TFV"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
</body>

</html>