<footer>
  <div class="footer-wrapper">
    <div class="content-container">
      <div class="flex">
        <nav>
          <a href="https://www.yamahagolfcar.com/">
            <img src="./assets/yamaha-wcg-logo.webp" alt=""       >
          </a>
        </nav>
        <p class="address">
          Yamaha Golf-Car Company<br>
          1270 Chastain Road Kennesaw, Georgia&nbsp;30144<br>
          866-747-4027
        </p>
        <p class="copyright">
          &copy;<script>document.write(new Date().getFullYear())</script> Copyright. All Rights Reserved 
          <span id="copyright-separator1">&nbsp; | &nbsp;</span> 
          <a href="https://www.yamahagolfcar.com/privacy/" name="PrivacyPolicy">Privacy Policy</a> 
          <span id="copyright-separator2">&nbsp; | &nbsp;</span> 
          <a href="https://yamaha-motor.com/data-privacy-request-form" name="DoNotSellInformation"   >Do Not Sell My Personal Information</a>
        </p>
      </div>
    </div>
  </div>
</footer>