<header>   
  <div class="hero-bg">
    <div class="gradient">
      <nav>         
        <div class="content-container">
          <a href="https://www.yamahagolfcar.com/" name="gcm_logo_img">
            <img src="./assets/yamaha-wcg-logo.webp" alt="YAMAHA Revs Your Heart(R)">
          </a>
        </div>       
      </nav>         

      <div class="content-container">
        <div class="flex">
          <h1>THE PERFECT RIDE <br class="hide" />DOES EXIST.</h1>           
          <div class="form-wrapper">
            {% include "partials/form.njk" %}
          </div>
        
        </div>
      </div>
    </div>
  </div> 
</header> 