<header>
  <div class="hero-bg">
    <div class="gradient">
      <nav>
        <div class="content-container">
          <a href="https://www.yamahagolfcar.com/" name="fd_logo_img">
            <img src="./assets/yamaha-wcg-logo.webp" alt="YAMAHA Revs Your Heart(R)">
          </a>
        </div>
      </nav>

      <div class="content-container flex-column">
        <h1>FIND A DEALER</h1>
        <div class="form-wrapper ">
          {% include "partials/thank-you.njk" %}
        </div>

      </div>
    </div>
  </div>
</header>