<form action="">
  <h4>SCHEDULE A DEMO</h4>                              

  <div class="input-wrapper name">
    <label for="name">First Name:&nbsp;</label>                 
    <input type="text" name="First Name" id="name" placeholder="First Name" class="input" required="" />
  </div> 	 	

  <div class="input-wrapper name">
    <label for="name">Last Name:&nbsp;</label>                 
    <input type="text" name="Last Name" id="name" placeholder="Last Name" class="input" required="" />
  </div>                

  <div class="input-wrapper email">
    <label for="email">Email:&nbsp;</label>                 
    <input type="text" name="Email" id="email" placeholder="Email Address" class="input" required="" />
  </div>                

  <div class="input-wrapper select">
    <label for="modelPref">Select a Model</label>                 
    <select name="model preferences" id="modelPref" required="">                   
      <option value="" disabled selected hidden>Select a Model</option>                  
      <option value="Drive 2 - PTV">Drive 2 - PTV</option>                   
      <option value="Adventurer&reg; Sport 2+2">Adventurer&reg; Sport 2+2</option>                   
      <option value="UMAX Rally 2+2&trade;">UMAX Rally 2+2&trade;</option>                 
    </select>
  </div>                

  <div class="input-wrapper zip">
    <label for="zip">Zip Code:&nbsp;</label>                 
    <input type="text" name="Zip Code" id="zip" placeholder="Zip Code" class="input" required="" />
  </div>                

  <div class="input-wrapper">
    <input type="submit" class="submit" value="GET INFO" />
    <input type="hidden" name="LeadSource" value="Branded Request Demo Media Landing Page" />
  </div>
</form>