<form action="" class="flex">
  <h4>SUBSCRIBE</h4>

  <label for="name">First Name:&nbsp;</label>
  <input type="text" name="First Name" id="name" placeholder="First Name" class="input" required="" value="" />

  <label for="name">Last Name:&nbsp;</label>
  <input type="text" name="Last Name" id="name" placeholder="Last Name" class="input" required="" value="" />

  <label for="email">Email:&nbsp;</label>
  <input type="text" name="Email" id="email" placeholder="Email Address" class="input" required="" value="" />

  <input type="submit" class="submit" value="SUBMIT" />

  <input type="hidden" name="LeadSource" value="Branded Request Demo Media Landing Page" />

</form>