<main>
  <div class="content-container">
    <h2></h2>
    <p class="main">No matter where you're headed, Yamaha golf cars and PTVs deliver unmatched performance and reliability. With convenient features, class-leading comfort, and powerfully smooth gas and electric models ready for you to customize to your heart&rsquo;s content, Yamaha is the easy choice.</p>
    <div class="flex">
      <article>
        <img src="./assets/22-GolfCarModels_3up1-1_4U3A0741.jpg" alt=""   />
        <h3>DRIVE 2 PTV</h3>
        <p class="article">Yamaha&rsquo;s Drive2 line of PTVs take comfort and quality to remarkable new heights.</p>
        <a href="https://www.yamahagolfcar.com/golf-car/personal/the-drive-2-ptv/" class="button">EXPLORE <br class="button-wrap" />MODELS</a>
      </article>

      <article>
        <img src="./assets/gcm-build-and-price.webp" alt=""   />
        <h3>ADVENTURER SPORT 2+2</h3>
        <p class="article">The Adventurer Sport 2+2 handles everything your life throws at it with ease.</p>
        <a href="https://www.yamahagolfcar.com/golf-car/personal/adventurer-sport-2-2/" class="button">EXPLORE <br class="button-wrap" />MODELS</a>
      </article>

      <article>
        <img src="./assets/UMAX-Rally-2x2-_-0R4A6634A.jpg" alt=""   />
        <h3>UMAX RALLY</h3>
        <p class="article">When power, performance, and comfort matter, the UMAX Rally lineup delivers.</p>
        <a href="https://www.yamahagolfcar.com/golf-car/personal/umax-rally/" class="button">EXPLORE <br class="button-wrap" />MODELS</a>
      </article>
    </div>
  </div>
</main>