<main>
  <div class="content-container">
    <h2></h2>
<p class="main">From the first acceleration to the last ride home, Yamaha golf cars and PTVs deliver next-level comfort, power, and peace of mind. With industry-leading gas and electric models, the widest seats on the market, and an unmatched reputation for reliability, Yamaha is the easy choice.</p>
    <div class="flex">
  <article>
    <img src="./assets/22-RequestDemo_3up1-1_4U3A0225-1.jpg" alt="">
    <h3>FIND A DEALER</h3>
    <p class="article">Experience firsthand the comfort, stability, and luxury that only comes with more than six decades of innovation and engineering expertise.</p>
    <a href="https://www.yamahagolfcar.com/finddealer/" class="button">LOCATE A DEALER <br class="button-wrap">NEAR YOU</a>
  </article>

  <article>
    <img src="./assets/PTV---0R4A6826.jpg" alt="">
    <h3>BUILD AND PRICE</h3>
    <p class="article">Do you go gas or electric? Aquablue Metallic or Glacier? It&#8217;s time to power up and personalize the ride of your dreams.</p>
    <a href="https://www.yamahagolfcar.com/buildyourowncar/" class="button">BUILD <br class="button-wrap">YOUR OWN</a>
  </article>

  <article>
    <img src="./assets/47569585292_da042fb80e_k_crop_001.jpg" alt="">
    <h3>EXPLORE</h3>
    <p class="article">From the award-winning Drive2 line to the stately Concierge fleet, take your time and browse the world&#8217;s best golf cars and PTVs.</p>
    <a href="https://www.yamahagolfcar.com/golf-car/personal/the-drive-2-ptv/" class="button">EXPLORE <br class="button-wrap">PTVS</a>
  </article>
</div>
  </div>
</main>