{% block title %}Thank you!{% endblock %}
{% block pageID %}gcm{% endblock %}
{% extends "base.njk" %}
{% block main %}
{% include "header-gcm-ty.njk" %}
{% include "partials/gcm.njk" %}
{% endblock %}