{% block title %}Golf Car Models{% endblock %}
{% block pageID %}gcm{% endblock %}
{% extends "base.njk" %}
{% block main %}
{% include "header-gcm.njk" %}
{% include "partials/gcm.njk" %}
{% endblock %}