h1 {
  font-family: $primary-font;
  font-size: 130px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 9.1px;
  text-align: left;
  color: $white; }

h2 {
  font-family: $primary-font;
  font-size: 70px;
  line-height: 1.17;
  font-weight: bold;
  letter-spacing: 3.5px;
  text-align: center;
  color: $gray8; }

h3 {
  font-family: $secondary-font;
  font-size: 40px;
  line-height: 1.25;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: $darkgray; }

h4 {
  font-family: $primary-font;
  font-size: 40px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-align: left;
  color: $white; }

p.formP {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: $white; }

p.main {
  font-family: $secondary-font;
  font-size: 32px;
  line-height: 1.63;
  text-align: center;
  color: $black; }

p.article {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  color: $black; }

.address {
  font-family: $secondary-font;
  font-size: 22px;
  line-height: 1.5;
  text-align: left;
  color: $white; }

.copyright {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: $white; }

input.input, select {
  background-color: $white;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: $black; }

input::-webkit-input-placeholder {
  color: $gray;
  opacity: 1; }

input::-moz-placeholder {
  color: $gray;
  opacity: 1; }

input:-ms-input-placeholder {
  color: $gray;
  opacity: 1; }

input::-ms-input-placeholder {
  color: $gray;
  opacity: 1; }

input::placeholder, select:invalid {
  color: $gray;
  opacity: 1; }

select:valid {
  color: $black; }

.button {
  display: inline-block;
  max-width: 390px;
  width: 100%;
  background-color: $red;
  padding: 15px 30px;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 2.34px;
  text-align: center;
  color: $white;
  border: 0;
  outline: 0;
  margin: 0 auto;
  text-decoration: none; }

input.submit, header .button {
  background-color: $red;
  padding: 12px 40px;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: $white;
  border: 0;
  outline: 0;
  margin: 0 auto;
  width: auto;
  max-width: none; }

input.submit:hover, .button:hover {
  cursor: pointer; }