// * Variables go here

// * Brand Colors

$red: #e7131a;
$black: #000000;
$white: #ffffff;
$gray8: #141414;
$darkgray: #393939;
$gray: #808080;


// * Typography
$primary-font: "trumpgothicpro", sans-serif;
$secondary-font: "source-sans-pro", sans-serif;